---
import "@fontsource-variable/nunito-sans";

import Header from "@/components/Header.astro";

import "@/styles/global.css";

const { title, description, noindex = false } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.png?" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content={noindex ? "noindex" : "index"} />

    <meta property="og:site_name" content={title} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.tinarosero.com/" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://www.tinarosero.com/tina.png" />
  </head>
  <body class="bg-background text-white scroll-smooth">
    <Header />

    <slot />

    <footer>
      <p class="text-center text-gray-400 text-xs mb-4">
        &copy; 2025 Valentina Rosero. All rights reserved.
      </p>
    </footer>
  </body>
</html>
